.admin-child {
  position: absolute;
  top: -43px;
  left: 0;
  filter: blur(417px);
  border-radius: 50%;
  background-color: var(--colour-styles-secondary-colour-secondary-80);
  width: 308px;
  height: 106px;
  display: none;
}
.line10 {
  position: absolute;
  top: calc(50% + 4px);
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--colour-styles-label-colour);
  width: 135px;
  height: 5px;
}
.home-indicator9 {
  position: absolute;
  top: 778px;
  left: 0;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 375px;
  height: 34px;
  overflow: hidden;
}
.component-4-icon2 {
  position: absolute;
  top: 769px;
  left: 162px;
  width: 50px;
  height: 24px;
  display: none;
}
.profileavatar-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-secondary-colour-secondary-40);
  width: 40px;
  height: 40px;
}
.unsplashij24uq1smwm-icon15 {
  position: absolute;
  top: 4px;
  left: 2px;
  border-radius: 50%;
  width: 36px;
  height: 32px;
  object-fit: cover;
}
.profileavatar3 {
  position: absolute;
  top: 62px;
  left: 308px;
  width: 40px;
  height: 40px;
}
.xin-cho-admin {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  white-space: pre-wrap;
}
.bn-mun-xem {
  position: absolute;
  top: 35px;
  left: 0;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-gray-3);
  display: inline-block;
  width: 224px;
}
.background,
.titttle3 {
  position: absolute;
  top: 51px;
  left: 38px;
  width: 224px;
  height: 52px;
}
.background {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 1px 8px rgba(110, 110, 110, 0.1);
  border-radius: var(--br-base);
  background-color: #ecf8f8;
}
.title10 {
  position: absolute;
  width: 44.38%;
  top: 33.2px;
  left: 10.92%;
  letter-spacing: 0.01px;
  line-height: 20px;
  display: inline-block;
  height: 22.1px;
}
.card55 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #213b4e;
}
.chevron-double-up,
.likesday {
  position: absolute;
  display: inline-block;
}
.likesday {
  width: 42.76%;
  top: calc(50% + 46.5px);
  left: 23.03%;
  line-height: 20px;
  height: 22px;
  font-family: var(--font-roboto);
}
.chevron-double-up {
  top: calc(50% + 49.5px);
  left: 42.4px;
  font-size: var(--font-size-xs);
  font-family: var(--font-font-awesome-5-pro);
  color: #7ed321;
  width: 12.2px;
  height: 13.3px;
}
.divider {
  position: absolute;
  height: 0.55%;
  width: calc(100% - 66.3px);
  top: 66.03%;
  right: 26.1px;
  bottom: 33.42%;
  left: 40.2px;
  background-color: #e4eaf0;
}
.b,
.new-likes {
  position: absolute;
  display: inline-block;
}
.new-likes {
  width: 39.14%;
  top: calc(50% - 17.5px);
  left: 48.36%;
  line-height: 20px;
  font-family: var(--font-roboto);
  height: 22px;
}
.b {
  top: calc(50% - 26.7px);
  left: 70px;
  font-size: 28px;
  line-height: 40px;
  color: #414d55;
  width: 71.9px;
  height: 44.2px;
}
.user-multiple-group-close-geo-icon {
  position: absolute;
  top: 86px;
  left: 40px;
  width: 14px;
  height: 14px;
  overflow: hidden;
}
.widgets1x2likes {
  position: absolute;
  height: 24.51%;
  width: 81.07%;
  top: 17.86%;
  right: 11.47%;
  bottom: 57.64%;
  left: 7.47%;
  font-size: var(--text-style-normal-text-bold-size);
  color: var(--color-gray-100);
}
.rectangle-icon1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hand-held-tablet-writing-tabl-icon,
.user-circle-single-circle-geo-icon {
  position: absolute;
  height: 16.89%;
  width: 15.18%;
  top: 39.4%;
  right: 74.11%;
  bottom: 43.71%;
  left: 10.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-circle-single-circle-geo-icon {
  height: 22.52%;
  width: 20.24%;
  top: 5.96%;
  right: 73.21%;
  bottom: 71.52%;
  left: 6.55%;
}
.home-saving {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  letter-spacing: 0.23px;
  font-weight: 600;
}
.home-saving-wrapper,
.path-icon {
  position: absolute;
  height: 100%;
  width: 76.5%;
  top: 0;
  right: 23.5%;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.path-icon {
  height: 28.25%;
  width: 5.24%;
  top: 35.75%;
  right: 0.05%;
  bottom: 36%;
  left: 94.71%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.frame-parent {
  position: absolute;
  height: 13.25%;
  width: 64.2%;
  top: 76.16%;
  right: 3.36%;
  bottom: 10.6%;
  left: 32.44%;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 302px;
  overflow: hidden;
}
.visible-eye-eyeball-open-view-icon {
  position: absolute;
  top: 217px;
  left: 32px;
  width: 52px;
  height: 50px;
  overflow: hidden;
}
.chart-1-copy {
  position: absolute;
  top: 0;
  left: 0;
  width: 336px;
  height: 302px;
}
.home-saving1 {
  position: absolute;
  top: calc(50% - 20px);
  left: 0;
  letter-spacing: 0.23px;
  font-weight: 600;
  cursor: pointer;
}
.home-saving-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 165px;
  height: 40px;
  overflow: hidden;
}
.path-icon1 {
  position: absolute;
  top: 14.3px;
  left: 204.3px;
  width: 11.3px;
  height: 11.3px;
  object-fit: contain;
}
.frame-group {
  position: absolute;
  top: 0;
  left: 85px;
  width: 215.7px;
  height: 40px;
}
.chart-1-child,
.path-2-copy-5 {
  position: absolute;
  top: 91.3px;
  left: 289.3px;
  width: 11.3px;
  height: 11.3px;
}
.path-2-copy-5 {
  top: 54px;
  left: 0;
  width: 292.7px;
  height: 1px;
}
.home-saving-frame {
  position: absolute;
  top: 91px;
  left: 85px;
  width: 165px;
  height: 40px;
  overflow: hidden;
}
.chart-1 {
  position: absolute;
  top: 44px;
  left: 23px;
  width: 300.7px;
  height: 131px;
}
.chart-1-copy-2,
.chart-1-copy1,
.chart-2 {
  position: absolute;
  top: 290px;
  left: 23px;
  width: 292.7px;
  height: 1px;
}
.chart-1-copy1,
.chart-2 {
  top: 194px;
}
.chart-2 {
  top: 387px;
  left: 19px;
  width: 336px;
  height: 302px;
  font-size: var(--font-size-mini);
  color: var(--color-darkslateblue);
  font-family: var(--font-nunito-sans);
}
.title11 {
  position: absolute;
  top: -2px;
  left: -176px;
  font-weight: 600;
  display: none;
}
.header9,
.vuesaxlinearmore-icon3 {
  position: absolute;
  width: 24px;
  height: 24px;
}
.vuesaxlinearmore-icon3 {
  top: 0;
  right: 0;
  overflow: hidden;
  object-fit: cover;
}
.header9 {
  top: 99px;
  left: 316px;
  font-size: var(--text-style-medium-text-bold-size);
  color: var(--colour-styles-label-colour);
}
.nav-bar-icon4 {
  position: absolute;
  top: 692px;
  left: 3px;
  width: 375px;
  height: 120px;
  object-fit: cover;
}
.admin {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--colour-styles-neutral-colour-white);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-style-large-text-bold-size);
  color: var(--colour-styles-neutral-colour-black);
  font-family: var(--text-style-smaller-text-semi-bold);
}
