.div22 {
  position: relative;
  font-weight: 500;
}
.vuesaxlinearstar-icon18 {
  width: 18px;
  position: relative;
  height: 18px;
  display: none;
}
.component-2-inner {
  width: 18px;
  position: relative;
  border-radius: var(--br-12xs-5);
  height: 18px;
}
.component-22 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  border: 1px solid var(--colour-styles-neutral-colour-white);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-8xs);
  text-align: left;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-white);
  font-family: var(--text-style-smaller-text-semi-bold);
}
