.xin-cho-doan1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
}
.bn-mun-nu1,
.titttle2 {
  position: absolute;
  width: 195px;
}
.bn-mun-nu1 {
  top: 35px;
  left: 0;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-gray-3);
  display: inline-block;
}
.titttle2 {
  top: 64px;
  left: 30px;
  height: 52px;
  font-size: var(--text-style-large-text-bold-size);
  color: var(--colour-styles-neutral-colour-black);
}
.home-item {
  position: absolute;
  top: -43px;
  left: 0;
  filter: blur(417px);
  border-radius: 50%;
  background-color: var(--colour-styles-secondary-colour-secondary-80);
  width: 308px;
  height: 106px;
  display: none;
}
.profileavatar-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--colour-styles-secondary-colour-secondary-40);
  width: 40px;
  height: 40px;
}
.unsplashij24uq1smwm-icon9 {
  position: absolute;
  top: 4px;
  left: 2px;
  border-radius: 50%;
  width: 36px;
  height: 32px;
  object-fit: cover;
}
.button-filter-icon5,
.profileavatar2 {
  position: absolute;
  top: 70px;
  left: 305px;
  width: 40px;
  height: 40px;
}
.button-filter-icon5 {
  top: 146px;
}
.all-item,
.all3 {
  position: absolute;
}
.all3 {
  top: 0;
  left: 6px;
  font-weight: 600;
}
.all-item {
  top: 20px;
  left: -1px;
  border-top: 2px solid var(--colour-styles-primary-colour-primary-80);
  box-sizing: border-box;
  width: 32px;
  height: 2px;
}
.all2 {
  width: 30px;
  height: 21px;
  color: var(--colour-styles-neutral-colour-black);
}
.all2,
.indian1 {
  position: relative;
}
.category3 {
  position: absolute;
  top: 0;
  left: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  gap: var(--gap-3xl);
}
.category2 {
  position: absolute;
  top: 216px;
  left: -10px;
  width: 375px;
  height: 21px;
  overflow-x: auto;
  display: none;
  font-size: var(--poppins-label-regular-size);
}
.image5 {
  position: absolute;
  top: 55px;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--colour-styles-neutral-colour-gray-4);
  width: 150px;
  height: 176px;
  opacity: 0.5;
}
.bookmark-icon8 {
  position: absolute;
  top: 201px;
  left: 120px;
  width: 16px;
  height: 16px;
  object-fit: cover;
}
.thi-gian-nu2 {
  top: 0;
}
.pht6,
.thi-gian-nu2,
.time35,
.time36 {
  position: absolute;
  left: 0;
}
.pht6 {
  top: 22px;
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-gray-1);
}
.time35,
.time36 {
  top: 0;
  width: 74px;
  height: 39px;
}
.time35 {
  top: 182px;
  left: 10px;
}
.tn2 {
  margin: 0;
}
.tn-mn-n-container2 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 130px;
}
.title-button10 {
  position: absolute;
  top: 121px;
  left: 10px;
  width: 130px;
  height: 42px;
  text-align: center;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-gray-1);
}
.image-icon26 {
  position: absolute;
  top: 0;
  left: 22px;
  width: 109px;
  height: 110px;
  object-fit: contain;
}
.card-11,
.food-photo5 {
  width: 150px;
  height: 231px;
}
.food-photo5 {
  position: absolute;
  top: 0;
  left: 0;
}
.card-11 {
  position: relative;
}
.image-icon27,
.time-portion4 {
  position: absolute;
  top: 179px;
  left: 12px;
  width: 74px;
  height: 39px;
}
.image-icon27 {
  top: 0;
  left: 22px;
  width: 109px;
  height: 110px;
  object-fit: cover;
}
.bookmark-icon9 {
  position: absolute;
  top: 195px;
  right: 12px;
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.time-portion5,
.time38 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 39px;
}
.time-portion5 {
  top: 179px;
  left: 12px;
}
.shrimp-chicken-andouille1 {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 130px;
}
.star-icon8 {
  width: 10px;
  position: relative;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.rating8 {
  position: absolute;
  top: 31px;
  left: 105px;
  border-radius: var(--br-xl);
  background-color: var(--colour-styles-secondary-colour-secondary-20);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-6xs);
  gap: var(--gap-8xs);
  text-align: right;
  color: var(--colour-styles-neutral-colour-black);
}
.title-button13 {
  position: absolute;
  top: 121px;
  left: 10px;
  width: 130px;
  height: 48px;
  text-align: center;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-gray-1);
}
.card-41 {
  width: 151px;
  position: relative;
  height: 231px;
}
.cards6 {
  position: absolute;
  top: 0;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.dishes1 {
  position: absolute;
  top: 267px;
  left: 0;
  width: 375px;
  height: 231px;
  overflow-x: auto;
}
.cng-thc-mi1 {
  position: absolute;
  top: 518px;
  left: 30px;
  font-size: var(--text-style-normal-text-bold-size);
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-black);
}
.nav-bar-icon3 {
  position: absolute;
  top: 692px;
  left: 0;
  width: 375px;
  height: 120px;
  object-fit: cover;
}
.card-child123 {
  position: absolute;
  top: 32px;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  width: 251px;
  height: 95px;
}
.image-icon31,
.rating-icon5 {
  position: absolute;
  top: 70px;
  left: 9.3px;
  width: 63.2px;
  height: 12px;
}
.image-icon31 {
  top: 0;
  left: 161.8px;
  width: 79.9px;
  height: 86px;
  object-fit: contain;
}
.title-button15,
.tn-mn-n2 {
  position: absolute;
  width: 139.4px;
  height: 23px;
}
.tn-mn-n2 {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title-button15 {
  top: 42px;
  left: 9.3px;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-gray-1);
}
.vuesaxoutlinetimer-icon15 {
  width: 17px;
  position: relative;
  height: 17px;
}
.time44 {
  position: absolute;
  top: 92px;
  left: 181.3px;
  width: 60.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) 0;
  box-sizing: border-box;
  gap: var(--gap-8xs);
}
.unsplashij24uq1smwm-icon10 {
  width: 25px;
  position: relative;
  border-radius: 50%;
  height: 25px;
  object-fit: cover;
}
.creator58 {
  position: absolute;
  top: 92px;
  left: 9.3px;
  width: 113.4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card42 {
  width: 251px;
  position: relative;
  height: 127px;
}
.card-child124 {
  position: absolute;
  top: 32px;
  left: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  width: 270px;
  height: 95px;
}
.image-icon32,
.rating-icon6 {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 68px;
  height: 12px;
}
.image-icon32 {
  top: 0;
  left: 174px;
  width: 86px;
  height: 86px;
  object-fit: cover;
}
.title-button16,
.tn-mn-n3 {
  position: absolute;
  width: 150px;
  height: 23px;
}
.tn-mn-n3 {
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.title-button16 {
  top: 42px;
  left: 10px;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-gray-1);
}
.creator59,
.time45 {
  position: absolute;
  top: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.time45 {
  left: 195px;
  justify-content: center;
  padding: var(--padding-9xs) 0;
  gap: var(--gap-8xs);
}
.creator59 {
  left: 10px;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.card43 {
  width: 270px;
  position: relative;
  height: 127px;
}
.cardsnew-recipes-container {
  position: absolute;
  top: 547px;
  left: 0;
  width: 375px;
  height: 139px;
  overflow-x: auto;
}
.search-child5 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  border: 1.3px solid var(--colour-styles-neutral-colour-gray-4);
  box-sizing: border-box;
}
.vuesaxoutlinesearch-normal-icon5 {
  position: absolute;
  height: 45%;
  width: 7.06%;
  top: 27.5%;
  right: 89.02%;
  bottom: 27.5%;
  left: 3.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.placeholder8 {
  top: 28.75%;
  left: 14.9%;
}
.line8,
.placeholder8,
.search8 {
  position: absolute;
}
.search8 {
  top: 146px;
  left: 30px;
  width: 255px;
  height: 40px;
  color: var(--colour-styles-neutral-colour-gray-4);
}
.line8 {
  top: calc(50% + 4px);
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--colour-styles-label-colour);
  width: 135px;
  height: 5px;
}
.home-indicator7 {
  position: absolute;
  top: 778px;
  left: 0;
  width: 375px;
  height: 34px;
  overflow: hidden;
}
.tt-c1 {
  position: relative;
  font-weight: 600;
}
.button10 {
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  padding: var(--padding-6xs) var(--padding-xl);
  color: var(--colour-styles-neutral-colour-white);
}
.button-group,
.button10,
.button11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button11 {
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  padding: var(--padding-6xs) var(--padding-xl);
}
.button-group {
  position: absolute;
  top: 10px;
  left: 30px;
}
.frame-div {
  position: absolute;
  top: 201px;
  left: 0;
  width: 375px;
  height: 51px;
  overflow-x: auto;
  text-align: center;
  color: var(--colour-styles-primary-colour-primary-80);
}
.filter-child1,
.filter-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl) var(--br-31xl) 0 0;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 382px;
  height: 235.2px;
}
.filter-child3 {
  height: 256px;
}
.to-cng-thc,
.vuesaxlinearstar-icon22,
.vuesaxlinearstar-icon23 {
  position: absolute;
  top: 85.2px;
  left: 183.4px;
  width: 40.7px;
  height: 20.9px;
}
.to-cng-thc,
.vuesaxlinearstar-icon23 {
  left: 234.3px;
}
.to-cng-thc {
  top: 36px;
  left: 139px;
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-black);
  text-align: left;
  display: inline-block;
  width: 103.9px;
  height: 11px;
}
.label58 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.small-button3,
.small-button4 {
  position: absolute;
  top: 71px;
  left: 59px;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  width: 264.9px;
  height: 50.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-11xl);
  box-sizing: border-box;
  cursor: pointer;
}
.small-button4 {
  top: 141px;
  left: 58px;
}
.line9 {
  position: absolute;
  top: calc(50% + 4.1px);
  left: calc(50% - 68px);
  border-radius: var(--br-81xl);
  background-color: var(--colour-styles-label-colour);
  width: 135px;
  height: 5px;
  display: none;
}
.home-indicator8 {
  position: absolute;
  top: 226px;
  left: 0;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 382px;
  height: 17.8px;
  overflow: hidden;
}
.filter1,
.iphone-13-14-1 {
  position: absolute;
  top: 570px;
  left: 8px;
  width: 382px;
  height: 256px;
}
.iphone-13-14-1 {
  top: -10px;
  left: -14px;
  background-color: rgba(48, 47, 47, 0.41);
  width: 390px;
  height: 844px;
  overflow: hidden;
  text-align: center;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-white);
}
.battery-icon7 {
  position: absolute;
  top: calc(50% - 5.9px);
  right: 1px;
  width: 24.5px;
  height: 11.5px;
  object-fit: cover;
}
.combined-shape-icon7,
.wi-fi-icon7 {
  position: relative;
  width: 17.1px;
  height: 10.7px;
}
.wi-fi-icon7 {
  width: 15.4px;
  height: 11.1px;
}
.symbols7 {
  position: absolute;
  top: calc(50% - 5.4px);
  right: 13.5px;
  width: 68px;
  height: 13px;
  overflow: hidden;
}
.time49 {
  position: absolute;
  top: calc(50% - 9px);
  left: 29.5px;
  letter-spacing: -0.17px;
  font-weight: 500;
}
.barsstatus-time7 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 180px;
  height: 22px;
}
.status-bar7 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 3px;
  left: -3px;
  height: 44px;
  font-size: var(--font-size-mini);
  color: var(--neutral-90);
  font-family: var(--font-sf-pro-display);
}
.home1 {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--colour-styles-neutral-colour-white);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-gray-3);
  font-family: var(--text-style-smaller-text-semi-bold);
}
