.label60 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.tabs21,
.tabs22 {
  top: 12px;
  border-radius: var(--br-3xs);
  width: 107px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
}
.tabs21 {
  position: absolute;
  left: 20px;
  background-color: var(--colour-styles-primary-colour-primary-100);
  color: var(--colour-styles-neutral-colour-white);
}
.tabs22 {
  left: 248px;
}
.tabs20,
.tabs22,
.tabs23 {
  position: absolute;
}
.tabs23 {
  top: 12px;
  left: 134px;
  border-radius: var(--br-3xs);
  width: 107px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
}
.tabs20 {
  top: -235px;
  left: -397px;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 375px;
  height: 58px;
  overflow: hidden;
  text-align: center;
}
.making-plan-home-child {
  position: absolute;
  top: -43px;
  left: 0;
  filter: blur(417px);
  border-radius: 50%;
  background-color: var(--colour-styles-secondary-colour-secondary-80);
  width: 308px;
  height: 106px;
  display: none;
}
.gi-cho,
.nguyn-liu-c {
  position: absolute;
  top: 289px;
  left: 30px;
  font-size: var(--text-style-normal-text-bold-size);
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-black);
}
.nguyn-liu-c {
  top: 152px;
}
.card-child128,
.card-child129 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  width: 150px;
  height: 150px;
}
.card-child128 {
  object-fit: cover;
}
.card-child129 {
  background: linear-gradient(180deg, transparent, #000);
}
.creator63,
.food-title45 {
  position: absolute;
  left: 10px;
}
.food-title45 {
  top: 91px;
  font-weight: 600;
  display: inline-block;
  width: 130px;
}
.creator63 {
  top: 128px;
  font-size: var(--text-style-smaller-text-small-label-size);
  color: var(--colour-styles-neutral-colour-gray-3);
}
.button-filter-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  width: 26px;
  height: 24.6px;
}
.div33 {
  position: absolute;
  top: 6.9px;
  left: 6px;
  display: flex;
  align-items: center;
  width: 14px;
  height: 11.8px;
}
.button-filter {
  position: absolute;
  top: 115px;
  left: 114px;
  width: 26px;
  height: 24.6px;
  font-size: var(--text-style-large-text-bold-size);
}
.card47,
.card48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
}
.card48 {
  top: 330px;
  left: 165px;
}
.food-title47 {
  position: absolute;
  top: 91px;
  left: 10px;
  font-weight: 600;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 130px;
}
.button-filter1 {
  position: absolute;
  top: 116px;
  left: 114px;
  width: 26px;
  height: 24.6px;
  font-size: var(--text-style-large-text-bold-size);
}
.card49 {
  position: absolute;
  top: 165px;
  left: 0;
  width: 150px;
  height: 150px;
}
.star-icon11 {
  width: 8px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.div35,
.star-icon11 {
  position: relative;
}
.rating11 {
  position: absolute;
  top: 10px;
  left: 103px;
  border-radius: var(--br-xl);
  background-color: var(--colour-styles-secondary-colour-secondary-20);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-6xs);
  gap: var(--gap-10xs);
  text-align: right;
}
.food-title48 {
  position: absolute;
  top: 91px;
  left: 10px;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-white);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 130px;
}
.card50,
.creator66 {
  position: absolute;
  top: 128px;
  left: 10px;
  color: var(--colour-styles-neutral-colour-gray-3);
}
.card50 {
  top: 495px;
  left: 0;
  width: 150px;
  height: 150px;
  font-size: var(--text-style-smaller-text-small-label-size);
  color: var(--colour-styles-neutral-colour-black);
}
.card51 {
  top: 165px;
}
.card51,
.card52,
.card53,
.card54,
.cards7 {
  position: absolute;
  left: 165px;
  width: 150px;
  height: 150px;
}
.card52 {
  top: 495px;
  font-size: var(--text-style-smaller-text-small-label-size);
  color: var(--colour-styles-neutral-colour-black);
}
.card53,
.card54,
.cards7 {
  top: 0;
}
.card54,
.cards7 {
  top: 330px;
  left: 0;
}
.cards7 {
  top: 320px;
  left: 30px;
  width: 315px;
  height: 645px;
  color: var(--colour-styles-neutral-colour-white);
}
.search-child6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  border: 1.3px solid var(--colour-styles-neutral-colour-gray-4);
  box-sizing: border-box;
}
.vuesaxoutlinesearch-normal-icon6 {
  position: absolute;
  height: 45%;
  width: 7.07%;
  top: 27.5%;
  right: 89%;
  bottom: 27.5%;
  left: 3.92%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.placeholder9,
.search9 {
  position: absolute;
  top: 28.75%;
  left: 14.89%;
}
.search9 {
  top: 98px;
  left: 30px;
  width: 311px;
  height: 40px;
  color: var(--colour-styles-neutral-colour-gray-4);
}
.button-filter-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  width: 66px;
  height: 65px;
}
.icon-list {
  position: absolute;
  height: 53.08%;
  width: 59.7%;
  top: 24.62%;
  right: 20.61%;
  bottom: 22.31%;
  left: 19.7%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button-filter5 {
  position: absolute;
  top: 725px;
  left: 287px;
  width: 66px;
  height: 65px;
}
.button-filter-child4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-primary-colour-primary-100);
  width: 99px;
  height: 24px;
}
.chn-nguyn-liu {
  position: absolute;
  top: 7px;
  left: 5px;
  display: flex;
  align-items: center;
  width: 89px;
  height: 10px;
}
.button-filter6 {
  position: absolute;
  top: 152px;
  left: 252px;
  width: 99px;
  height: 24px;
  font-size: var(--font-size-3xs);
  color: var(--colour-styles-neutral-colour-white);
}
.thi-gian1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--text-style-normal-text-bold-size);
  font-weight: 600;
  color: var(--colour-styles-neutral-colour-black);
}
.vuesaxlinearstar-icon24 {
  width: 18px;
  position: relative;
  height: 18px;
  display: none;
}
.component-14 {
  position: absolute;
  top: 31px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  border: 1px solid var(--colour-styles-primary-colour-primary-80);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-8xs);
}
.component-6-item {
  width: 18px;
  position: relative;
  border-radius: var(--br-12xs-5);
  height: 18px;
  display: none;
}
.component-34,
.component-43,
.component-52,
.component-61 {
  position: absolute;
  top: 31px;
  left: 71px;
  border-radius: var(--br-3xs);
  background-color: var(--colour-styles-neutral-colour-white);
  border: 1px solid var(--colour-styles-primary-colour-primary-80);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-8xs);
}
.component-34,
.component-43,
.component-52 {
  left: 143px;
}
.component-43,
.component-52 {
  left: 219px;
}
.component-52 {
  left: 295px;
}
.fiterrate2 {
  position: absolute;
  top: 202px;
  left: 30px;
  width: 359px;
  height: 58px;
}
.vuesaxlineararrow-left-icon6 {
  position: absolute;
  top: 7px;
  left: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.title9 {
  position: absolute;
  top: 0;
  left: 63px;
  font-weight: 600;
}
.header8 {
  position: absolute;
  top: 51px;
  left: 30px;
  width: 252px;
  height: 27px;
  font-size: var(--text-style-medium-text-bold-size);
  color: var(--neutral-100);
}
.battery-icon8 {
  position: absolute;
  top: calc(50% - 5.9px);
  right: 1px;
  width: 24.5px;
  height: 11.5px;
  object-fit: cover;
}
.combined-shape-icon8,
.wi-fi-icon8 {
  position: relative;
  width: 17.1px;
  height: 10.7px;
}
.wi-fi-icon8 {
  width: 15.4px;
  height: 11.1px;
}
.symbols8 {
  position: absolute;
  top: calc(50% - 5.4px);
  right: 13.5px;
  width: 68px;
  height: 13px;
  overflow: hidden;
}
.time50 {
  position: absolute;
  top: calc(50% - 9px);
  left: 29.5px;
  letter-spacing: -0.17px;
  font-weight: 500;
}
.barsstatus-time8 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 180px;
  height: 22px;
}
.status-bar8 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  font-size: var(--font-size-mini);
  color: var(--neutral-90);
  font-family: var(--font-sf-pro-display);
}
.making-plan-home {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--colour-styles-neutral-colour-white);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-primary-colour-primary-80);
  font-family: var(--text-style-smaller-text-semi-bold);
}
