.ty-chn-bai-viet-ca-nhan-child {
  position: absolute;
  top: -43px;
  left: 0;
  filter: blur(417px);
  border-radius: 50%;
  background-color: var(--colour-styles-secondary-colour-secondary-80);
  width: 308px;
  height: 106px;
  display: none;
}
.line13 {
  position: absolute;
  top: calc(50% + 4px);
  left: calc(50% - 67.5px);
  border-radius: var(--br-81xl);
  background-color: var(--colour-styles-label-colour);
  width: 135px;
  height: 5px;
}
.home-indicator12 {
  position: absolute;
  top: 778px;
  left: 0;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 375px;
  height: 34px;
  overflow: hidden;
}
.hnh-nh-minh1 {
  position: absolute;
  top: 156px;
  left: 91px;
  font-size: var(--text-style-large-text-bold-size);
  display: flex;
  align-items: center;
  width: 231px;
  height: 34px;
}
.s-lng-nguyn1 {
  position: relative;
}
.time54 {
  position: absolute;
  top: 431px;
  left: 228px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) 0;
  color: var(--colour-styles-neutral-colour-gray-3);
}
.unsplashij24uq1smwm-icon23 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.label83 {
  position: absolute;
  top: 0;
  left: 18px;
}
.location1,
.vuesaxboldlocation-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
}
.location1 {
  top: 23px;
  width: 43px;
}
.info3,
.label84 {
  position: absolute;
  top: 0;
}
.label84 {
  left: 0;
  font-size: var(--poppins-label-regular-size);
  font-weight: 600;
  color: var(--colour-styles-label-colour);
}
.info3 {
  left: 50px;
  width: 43px;
  height: 40px;
}
.creator72 {
  width: 93px;
  position: relative;
  height: 40px;
}
.creators-profile3 {
  position: absolute;
  top: 309px;
  left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--colour-styles-neutral-colour-gray-3);
}
.label85 {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.tabs26,
.tabs27 {
  position: absolute;
  top: 12px;
  border-radius: var(--br-3xs);
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.tabs26 {
  left: 30px;
  background-color: var(--colour-styles-primary-colour-primary-100);
  padding: var(--padding-5xs) 0;
}
.tabs27 {
  left: 195px;
  padding: var(--padding-5xs) var(--padding-4xs);
  color: var(--colour-styles-primary-colour-primary-80);
}
.bg44,
.component-36 {
  position: absolute;
  left: 0;
}
.component-36 {
  top: 359px;
  background-color: var(--colour-styles-neutral-colour-white);
  width: 375px;
  height: 58px;
  overflow: hidden;
  text-align: center;
}
.bg44 {
  top: 0;
  border-radius: var(--br-xs);
  background-color: var(--colour-styles-neutral-colour-gray-4);
  width: 315px;
  height: 76px;
  opacity: 0.5;
}
.khi-lng1 {
  margin: 0;
}
.label87,
.tn-nguyn-liu5 {
  position: absolute;
  top: 27px;
  left: 228px;
}
.tn-nguyn-liu5 {
  left: 83px;
  font-weight: 600;
  color: var(--colour-styles-label-colour);
  text-align: left;
}
.image-icon56 {
  position: absolute;
  top: 12px;
  left: 15px;
  width: 52px;
  height: 52px;
  object-fit: cover;
}
.recipe-17 {
  width: 315px;
  position: relative;
  height: 76px;
}
.cabbage2,
.label88 {
  position: absolute;
  top: 28px;
  left: 264px;
}
.cabbage2 {
  top: 29px;
  left: 83px;
  font-size: var(--text-style-normal-text-bold-size);
  font-weight: 600;
  color: var(--colour-styles-label-colour);
  text-align: left;
}
.recipe4 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.recipe-frame {
  position: absolute;
  top: 469px;
  left: 30px;
  width: 315px;
  height: 334px;
  overflow-y: auto;
  text-align: right;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-neutral-colour-gray-3);
}
.component-4-icon5,
.ty-chn-bai-viet-ca-nhan-item {
  position: absolute;
  top: 769px;
  left: 162px;
  width: 50px;
  height: 24px;
  display: none;
}
.ty-chn-bai-viet-ca-nhan-item {
  top: 0;
  left: 0;
  background-color: var(--colour-styles-neutral-colour-black);
  width: 375px;
  height: 812px;
  opacity: 0.5;
}
.card-child147 {
  left: 1px;
  background-color: var(--color-darkgray-100);
}
.card-child147,
.card-child148,
.card-child149 {
  position: absolute;
  top: 0;
  border-radius: var(--br-3xs);
  width: 315px;
  height: 150px;
}
.card-child148 {
  left: 0;
  object-fit: cover;
}
.card-child149 {
  left: 1px;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.9));
}
.food-title54 {
  position: absolute;
  top: 117px;
  left: 11px;
  font-weight: 600;
  display: inline-block;
  width: 200px;
}
.vuesaxoutlinetimer-icon21 {
  width: 17px;
  position: relative;
  height: 17px;
}
.card57,
.time55 {
  position: absolute;
}
.time55 {
  top: 117px;
  left: 246px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs-5) 0;
  gap: var(--gap-8xs);
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-gray-4);
}
.card57 {
  top: 105px;
  left: 29px;
  width: 316px;
  height: 150px;
  font-size: var(--poppins-label-regular-size);
}
.frame-chia-se-21 {
  position: absolute;
  top: -5px;
  left: 0;
  background-color: var(--colour-styles-neutral-colour-black);
  width: 375px;
  height: 822px;
  opacity: 0.5;
}
.icon2,
.label101 {
  position: absolute;
  top: 10px;
}
.label101 {
  width: calc(100% - 52px);
  left: 44px;
  display: inline-block;
}
.icon2 {
  left: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.assetsaction-item4 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  height: 40px;
  cursor: pointer;
}
.label102 {
  position: absolute;
  top: 10px;
  left: 44px;
}
.assetsaction-item-item {
  border-radius: var(--br-12xs-5);
}
.assetsaction-item-item,
.input-fieldvuesaxboldmessag-icon1 {
  position: absolute;
  top: 10px;
  left: 8px;
  width: 20px;
  height: 20px;
}
.assetsaction-item6 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xs);
  height: 40px;
}
.iconnavbookmarkactive1 {
  position: absolute;
  bottom: 10px;
  left: calc(50% - 64px);
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: none;
}
.action-list1 {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: var(--depth-03);
  border-radius: var(--br-5xs);
  background-color: var(--colour-styles-neutral-colour-white);
  width: 164px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.pngwing-1-icon {
  position: absolute;
  top: 141px;
  left: 20px;
  width: 17px;
  height: 17px;
  object-fit: cover;
}
.union-icon {
  position: relative;
  width: 13.7px;
  height: 17.1px;
}
.label105,
.label106 {
  position: absolute;
  width: calc(100% - 72px);
  top: 170px;
  left: 55px;
  display: inline-block;
}
.label106 {
  top: 200px;
}
.delete-24-1-icon {
  position: absolute;
  top: 199px;
  left: 23px;
  width: 14px;
  height: 18px;
  object-fit: cover;
}
.action-list-parent {
  position: absolute;
  top: 84px;
  left: 167px;
  width: 164px;
  height: 240px;
  font-size: var(--poppins-label-regular-size);
  color: var(--colour-styles-label-colour);
}
.battery-icon10 {
  position: absolute;
  top: calc(50% - 5.9px);
  right: 1px;
  width: 24.5px;
  height: 11.5px;
  object-fit: cover;
}
.combined-shape-icon10,
.wi-fi-icon10 {
  position: relative;
  width: 17.1px;
  height: 10.7px;
}
.wi-fi-icon10 {
  width: 15.4px;
  height: 11.1px;
}
.symbols10 {
  position: absolute;
  top: calc(50% - 5.4px);
  right: 13.5px;
  width: 68px;
  height: 13px;
  overflow: hidden;
}
.time56 {
  position: absolute;
  top: calc(50% - 9px);
  left: 29.5px;
  letter-spacing: -0.17px;
  font-weight: 500;
}
.barsstatus-time10 {
  position: absolute;
  top: calc(50% - 10px);
  left: 0;
  width: 180px;
  height: 22px;
}
.status-bar10 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  font-size: var(--font-size-mini);
  color: var(--colour-styles-neutral-colour-gray-1);
  font-family: var(--font-sf-pro-display);
}
.vuesaxlineararrow-left-icon8 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
}
.title14 {
  position: absolute;
  top: -2px;
  left: 115px;
  font-weight: 600;
  display: none;
}
.vuesaxlinearmore-icon6 {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  object-fit: cover;
}
.header12 {
  position: absolute;
  top: 54px;
  left: 30px;
  width: 315px;
  height: 24px;
  font-size: var(--text-style-medium-text-bold-size);
  color: var(--colour-styles-label-colour);
}
.ty-chn-bai-viet-ca-nhan {
  width: 100%;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--colour-styles-neutral-colour-white);
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--text-style-smaller-text-semi-bold-size);
  color: var(--colour-styles-neutral-colour-white);
  font-family: var(--text-style-smaller-text-semi-bold);
}
